HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Sensitive files ###
# Add your sensitive files or directories that should be ignored here
# Examples:
# Ignoring service account key files (e.g., Google Cloud credentials)
*.json
*.key
*.pem

# Ignore any other sensitive files you don't want to be pushed to GitHub