body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer-bg-color{

background-color: rgb(244, 245, 246);

}


.cyclegreen {
  background-color: rgb(57,219,74); 
    border-radius: 50% ;          
    width: 430px; 
    height: 430px; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: -1 

}

.cycleBlueLight{

  background-color: aquamarine; 
  border-radius: 50%;          
  width: 60px; 
  height: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Z-index để giữ cho phần tử không đè lên ảnh nếu có */
}

.borderRadiousRight {
  width: 40px;
  height: 40px;
  background-color: rgb(57, 219, 74);
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  right: 0
}

.bg-green{
  background-color: rgb(57, 219, 74);

}

.text-green{

  color: rgb(57, 219, 74);


}

.swiper {
  width: 100%;
  height: 400px; /* Đặt chiều cao cố định cho swiper */
  border-radius: 15px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Đảm bảo slide sử dụng chiều cao của swiper */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%; /* Ảnh sẽ chiếm hết chiều cao của slide */
  object-fit: cover; /* Giữ tỷ lệ cho ảnh */
 
  
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}


/* // */

/* styles.css */
.image {
  width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của slide */
  height: auto; /* Giữ tỷ lệ khung hình của ảnh */
  max-height: 300px; /* Điều chỉnh chiều cao tối đa cho ảnh */
  object-fit: cover; /* Đảm bảo ảnh không bị méo khi thu phóng */
}

.gradient-button {
  min-width: 350px;
  background: linear-gradient(to right, red, blue); /* Hiệu ứng gradient đỏ-xanh */
  color: white; /* Màu chữ */
  padding: 10px 20px; /* Khoảng cách trong button */
  border: none; /* Loại bỏ viền */
  border-radius: 5px; /* Bo góc */
  cursor: pointer; /* Thay đổi con trỏ chuột khi hover */
  font-size: 16px; /* Kích thước chữ */
  transition: background 0.3s ease; /* Hiệu ứng khi hover */
}

.gradient-button:hover {
  background: linear-gradient(to right, blue, red); /* Đổi chiều gradient khi hover */
}

.imagesupport{

border: 1px solid red;
max-width: 110px;
height: 110px;
border-radius: 10px;

}

.gradient-button-2 {
  background:white;
  border: 1px solid gray;
  color: dark;
  padding: 8px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.gradient-button-2:hover {
  border: 1px solid red;
 
  color: red;
  
}

/* // header and nav */
header {
  background-color: #fff;
}

input[type="text"] {
  max-width:  350px;
  min-width: 100px;
}

.navbar-nav .nav-link {
  color: #000;
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #dc3545;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #dc3545;
}

.btn-danger i {
  color: #fff;
}
header {
  background-color: #fff;
 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 3;
 
  background-color: #fff; /* Đảm bảo navbar có nền màu trắng khi dính */
}



.sidebar1 {
  background-color: white; /* Màu nền nhẹ nhàng */
  padding: 20px; /* Padding cho nội dung bên trong */
 
  height: 100%; /* Chiều cao bằng chiều cao của viewport */
  
}

.sidebar1 h2 {
  font-size: 1.5rem; /* Kích thước chữ cho tiêu đề */
  margin-bottom: 15px; /* Khoảng cách dưới tiêu đề */
  color: #343a40; /* Màu chữ */
  font-weight: bold; /* Chữ đậm */
  text-align: left; /* Căn trái */
}

.sidebar1 ul {
  padding-left: 0; /* Bỏ padding bên trái cho danh sách */
  list-style-type: none; /* Bỏ dấu chấm cho danh sách */
}

.sidebar1 ul li {
  padding: 10px 15px; /* Padding cho từng item */
  margin: 5px 0; /* Khoảng cách giữa các item */
  border-radius: 5px; /* Bo tròn các góc */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu khi hover */
  cursor: pointer; /* Con trỏ chuột kiểu pointer khi hover */
}

.sidebar1 ul li:hover {
  background-color: #e2e6ea; /* Màu nền khi hover */
  color: #007bff; /* Màu chữ khi hover */
}

.sidebar1 h2:last-of-type {
  margin-top: 20px; /* Khoảng cách trên cho tiêu đề cuối cùng */
}

.form-check{
  margin: 7px;
}
.form-check i{
  margin:0px 2px;
}

.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}



  /* // */

  /* From Uiverse.io by Yaya12085 */ 
.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}

/* Giỏ hàng đây nha */
.breaddesign {
  background-color: #f4f5f6;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  height: 40px;
}

.breadcrumb {
  margin: 0;
} 

.diachi{
  border: 1px solid red;
  margin-top: 10px;
}
 .thongtin{
  padding: 10px;
 }

 .hangdautien,
 .hangthuhai,
 .hangthuba {
     display: flex;
     align-items: center; 
     margin: 0;
     height: 40px;
 }

 .tieude{
  font-weight: bold;
 }

 .noidung{
  margin: 0;
  margin-left: auto;
 }

 .tieude,
 .noidung{
   margin: 0;
   line-height: 40px;
   padding: 0;
 }

.thaydoidiachi {
  border: 1px solid #d4d7de;
  background-color: white;
  width: 150px;
  height: 30px;
  margin-left: auto; 
  border-radius: 5px;
}

.thaydoidiachi:hover {
  border: 1px solid black;
}

.trangchu {
  color: #777e90;
  text-decoration: none;
}
.trangchu:hover {
  text-decoration: underline;
}

.giohang {
  color: black;
  font-weight: bold;
}

.sanphamvakhuyenmai{
  margin-top: 10px;
}

.sanpham{
  border: 1px solid #d4d7de;
  margin: 0;
}

.tieudesanpham{
  display: flex;
  font-weight: bolder;
  font-size: larger;
  color: white;
  border: 1px solid white;
  background-color: red;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.tieudesanpham p{
  margin: 0;
}

.navsanpham{
  background-color: #f4f5f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
}

.navsotiennd{
  padding-right: 10px;
}


.cardgiohang {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d4d7de;
  gap: 15px; 
}

.no-outline{
  outline: none;
  border: none;
}

.chitietgiatien {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 90px;
  padding-top: 30px;
}
.tieudekhuyenmai{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  font-weight: bolder;
  font-size: larger;
  background-color: #f4f5f6;
}
.tieudekhuyenmai p{
  margin: 0;
}

.noidungkhuyenmai2>p:hover{
  color: red;
}

.thanhtoan button:hover{
  background-color: black !important;
  color: white !important;
}

.icon-container {
  position: relative;
  width: 37px;
  height: 37px;
  cursor: pointer;
}

.plus-icon,
.check-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.plus-icon {
  opacity: 1;
  transform: scale(1);
}

.check-icon {
  opacity: 0;
  transform: scale(0.8);
}

.icon-container.checked .plus-icon {
  opacity: 0;
  transform: scale(0.8);
}

.icon-container.checked .check-icon {
  opacity: 1;
  transform: scale(1);
}

.magiamgiacuatoi{
  padding: 10px;
  border: 1px solid #d4d7de;
  border-left: 10px solid #d4d7de;
  width: 320px;
}

.voucher-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

.voucher-item {
  flex: 1 1 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px); 
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
}

/*Kết thúc giỏ hàng*/